.nav-stuff {
  font-family: "Metal Mania", cursive;
}
.nav-el {
  font-size: 24px;
}
.btn {
  font-family: "Federant", cursive;
  text-transform: capitalize;
}
section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
